//vars
$white: #f6f6f6;
$blue: #33c1e3;
// adjustment vars
$container-width: 940px;
$footer-height: 50px;

//common
@import "_misc/mixins";
@import "_misc/fonts";

//layout
@import "_misc/adjustment";

//styles
@import "_misc/mainbp_header";
@import "sections/header";
@import "sections/main";
@import "sections/footer";
@import "_misc/mainbp_footer";
