/* adjustment styles*/
body, html {
	width: 100%;
	height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    background: $white;
    
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    min-width: $container-width + 20;
}

.wrapper::after{
    content: "";
    display: block;
    height: $footer-height;
}

.maincontent {
    padding-bottom: 0px;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.footer {
    background: #ccc;
    height: $footer-height;
    width: 100%;
    margin-top: -$footer-height;
    position: relative;
    min-width: $container-width + 20;
}
