/* adjustment_and_layout */
html {
    font-size: 16px;
}
body, html {
	width: 100%;
	height: 100%;
}

body {
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    background: $white-bg;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
/*     max-width: rem(960);
   
 @include tablets {
max-width: rem(788);
}

@include phones {
max-width: rem(340);
}  */
}

.wrapper::after{
    content: "";
    display: block;
    height: rem(50);
    overflow: hidden;
}

.maincontent {
    padding-bottom: rem(50);
}

.container {
    max-width: rem(940);
    margin: 0 auto;

    @include tablets {
         max-width: rem(768);
    }

    @include phones {
         max-width: rem(320);
    }
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.footer {
    min-height: 50px;
    width: 100%;
    margin-top: -50px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}
/* END adjustment_and_layout */
