%clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}

//adaptive
@function rem($px) {
	@return $px / 16 +0rem; 
} 

///регулярка для замены
//([0-9]+)px --> rem(\1)
/*
@mixin test1 {
	@media screen and (max-width: 768px) {
		@content;
	}
}

.block {
	@include test1 {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
  .block {
    color: red;
    background: blue; } }



@mixin test2 {
	.wrapper {
		@content;
	}
}

.block {
	@include test2 {
		color: red;
	}
}

.block .wrapper {
  color: red; }
*/



/* @mixin desktop {
	@media screen and (max-width: 1025px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
} */


@mixin tablets {
/* tablet, landscape iPad, lo-res laptops ands desktops */
	@media screen and (max-width:801px) {
		@content;
	}
}

@mixin phones {
/* smartphones, Android phones, landscape iPhone */
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin resolution {
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi) {
		@content;
}
}






